h1 { 
color: skyblue;
font-family: 'Koulen', cursive;
text-align: center;
 }
h2 { 
color: black;
font-family: 'Koulen', cursive;
text-align: center;
}
h3 {
color: black;
font-family: 'Koulen', cursive;
text-align: center;
}
body {
background:#fdffff;
margin: 50px;
padding: 100px;
margin-top: 50px;
font-family: 'Roboto Condensed', sans-serif;
}
img { 
width: 980px;
height: 700px;
object-fit: cover;
}

div {
background: #C2C0C0;
padding: 80px;
margin-top: 50px;
margin-bottom: 50px;
}

.video-center {
text-align: center;
}

.link-aligned {
    display: flex;
    justify-content: space-around;
}

a {
color: black;
text-decoration: none;
}

a:hover {
color: black;
font-weight: 900;
}

